div{
    display: flex;
}

.blue-box{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin: 10px;
    justify-content: center;
    line-height: 100px;
    border-radius: 10px;
}

.yellow-box{
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin: 10px;
    justify-content: center;
    line-height: 100px;
    border-radius: 10px;
}

.container{
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    justify-content: space-around; 
    flex-wrap: wrap; 
    flex-direction: row;
    align-items: center;
}